.message-debug {
    padding: 20px;
    background-color: #36a8f4;
    color: white;
}

.message-info {
    padding: 20px;
    background-color: #ffffff;
    color: black;
}

.message-success {
    padding: 20px;
    background-color: #0dab20;
    color: white;
}

.message-warning {
    padding: 20px;
    background-color: #e7ce19;
    color: white;
}

.message-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

#msp_topics_collapse.collapse:not(.show) {
    display: block;
    height: 20rem;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

#msp_topics_collapse.collapsing {
    height: 20rem;
}
