{% load static %}
{% load i18n %}
{% load parler_tags %}
{% load analytical %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8"/>
    <title>{% block meta-title %}{% if content_title_main %}{{ content_title_sub }} - {{ content_title_main }}{% else %}
        {% block title %}{% endblock %}{% endif %}{% if company_name %} - {{ company_name }}
    {% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
    <meta name="description" content="{% block meta-description %}{% endblock %}"/>
    <meta property="og:type" content="{% block og-type %}website{% endblock %}"/>
    <meta property="og:description" content="{% block og-description %}{% endblock %}"/>

    {% get_available_languages as LANGUAGES %}
    {% for lang_code, title in LANGUAGES %}
    {% get_translated_url lang_code as tr_url %}
    {% if tr_url %}<link rel="alternate" hreflang="{{ lang_code }}" href="{{ tr_url }}" />{% endif %}
    {% endfor %}

    {{ cookiebot_js_uc|safe }}

    {# for fluent-blogs: #}
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}

    {% analytical_head_top %}

    <!-- Bootstrap -->
    <link href="{% static "global_assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>

    <!-- tobii css -->
    <link href="{% static "global_assets/css/tobii.min.css" %}" rel="stylesheet" type="text/css"/>

    <!-- Icons -->
    <link href="{% static "global_assets/css/materialdesignicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

    <!-- Slider -->
    <link rel="stylesheet" href="{% static "global_assets/css/tiny-slider.css" %}"/>

    <!-- Main Css -->
    <link href="{% static "global_assets/css/style.css" %}" rel="stylesheet" type="text/css" id="theme-opt"/>
    <link href="{% static "global_assets/css/colors/default.css" %}" rel="stylesheet" id="color-opt">

    <link href="{% static "global_assets/css/select2-bootstrap-5-theme.min.css" %}" rel="stylesheet">

    <link href="{% static "dolphin/css/dolphin.css" %}" rel="stylesheet" type="text/css">

    {% block customcss %}
    {% endblock %}

    {% block customjs %}
    {% endblock %}

    {# for fluent-comments: #}
    {% block extrahead %}{% endblock %}

    {% analytical_head_bottom %}

</head>

<body>
{% analytical_body_top %}

<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->

<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="{% url 'general' %}">
            <img src="{% static "company/logo/logo-dark.png" %}" height="24" class="logo-light-mode" alt="">
        </a>
        <div class="buy-button">
            <a href="https://login.dolphin-it.de/">
                <div class="btn btn-primary">Login</div>
            </a>
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu{% if is_home_page %} nav-light{% endif %}">
                {% for menu_group in menu_groups %}
                    <li class="has-submenu parent-menu-item">
                        <a href="{% if menu_group.link_url %}{{ menu_group.link_url }}{% else %}javascript:void(0){% endif %}">
                            {{ menu_group.menu_name }}
                        </a>
                        {% if menu_group.has_items %}
                            <span class="menu-arrow"></span>
                            <ul class="submenu{% if menu_group.menu_items|length > 6 %} megamenu{% endif %}">
                                {% if menu_group.menu_items|length > 6 %}
                                    <li>
                                    <ul>{% endif %}
                                {% for menu_link in menu_group.menu_items %}
                                    <li><a href="{{ menu_link.link_url }}"
                                           class="sub-menu-item">{{ menu_link.link_name }}</a></li>
                                    {% if menu_group.menu_items|length > 6 %}{% if forloop.counter|divisibleby:3 %}
                                        </ul></li>
                                        <li>
                                        <ul>
                                    {% endif %}{% endif %}
                                {% endfor %}
                                {% if menu_group.menu_items|length > 6 %}</ul></li>{% endif %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->

<!-- Hero Start -->
{% block main_section %}
    <section class="bg-half bg-light d-table w-100">
        <div class="container">
            {% block container %}
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title">{{ content_title_main }} - {{ content_title_sub }}</h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            {% endblock %}
        </div> <!--end container-->
    </section><!--end section-->

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %}class="message-{{ message.tags }}"
                             {% else %}class="message"{% endif %}>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div><!--end row-->
        </div>
    </section>
{% endblock %}

<!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">{{ company_address_name_1 }}</h5>
                <p class="mt-4">
                    {{ company_address_details_1|safe }}
                </p>
                <p class="mt-4">
                    <a href="tel:{{ company_address_phone_1.as_e164 }}" class="text-light">
                        <i data-feather="phone" class="fea"></i> {{ company_address_phone_1.as_international }}
                    </a>
                </p>
                <p class="mt-4">
                    <a href="mailto:{{ company_address_email_1 }}" class="text-light">
                        <i data-feather="mail" class="fea"></i> {{ company_address_email_1 }}
                    </a>
                </p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                    <li class="list-inline-item">
                        <a href="{{ request.site.profile.facebook }}" class="rounded" target="_blank">
                            <i data-feather="facebook" class="fea icon-sm fea-social"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ request.site.profile.instagram }}" class="rounded" target="_blank">
                            <i data-feather="instagram" class="fea icon-sm fea-social"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ request.site.profile.twitter }}" class="rounded" target="_blank">
                            <i data-feather="twitter" class="fea icon-sm fea-social"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ request.site.profile.linkedin }}" class="rounded" target="_blank">
                            <i data-feather="linkedin" class="fea icon-sm fea-social"></i>
                        </a>
                    </li>
                </ul><!--end icon-->
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">{{ company_address_name_2 }}</h5>
                <p class="mt-4">
                    {{ company_address_details_2|safe }}
                </p>
                <p class="mt-4">
                    <a href="tel:{{ company_address_phone_2.as_e164 }}" class="text-light">
                        <i data-feather="phone" class="fea"></i> {{ company_address_phone_2.as_international }}
                    </a>
                </p>
                <p class="mt-4">
                    <a href="mailto:{{ company_address_email_1 }}" class="text-light">
                        <i data-feather="mail" class="fea"></i> {{ company_address_email_1 }}
                    </a>
                </p>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">{% trans "Useful Links" %}</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li>
                        <a href="{{ request.site.profile.remote_support }}" class="text-foot" target="_blank">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Remote Support" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.site.profile.support_toolbox }}" class="text-foot" target="_blank">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Support Toolbox" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_contact' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Contact" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_web_directory' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Web Directory" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_customer_support_guide' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Customer Support Guide" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_privacy_policy' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Privacy Policy" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_terms_and_conditions' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Terms and Conditions" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_imprint' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Imprint" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'general_contract_termination' %}" class="text-foot">
                            <i class="uil uil-angle-right-b me-1"></i> {% trans "Contract Termination" %}
                        </a>
                    </li>
                </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <!-- content 4 -->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="text-sm-start">
                    <p class="mb-0">
                        <img src="{% static "company/logo/logo-light.png" %}" height="24" alt="">
                        &copy; {% now "Y" %} {{ company_name }}
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row align-items-center mt-2">
            <div class="col-sm-12">
                <div class="text-sm-start">
                    <p class="mb-0">
                        {% trans "Unless otherwise expressly agreed, all prices are fixed and exclude VAT applicable at the date of delivery." %}
                    </p>
                    <p class="mb-0">
                        {% trans "All trademarks, logos and brand names are the property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, trademarks and brands does not imply endorsement." %}
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i
        data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->

{% analytical_body_bottom %}

<!-- javascript -->
<script src="{% static "global_assets/js/bootstrap.bundle.min.js" %}"></script>
<!-- SLIDER -->
<script src="{% static "global_assets/js/tiny-slider.js" %}"></script>
<!-- tobii js -->
<script src="{% static "global_assets/js/tobii.min.js" %}"></script>
<!-- Icons -->
<script src="{% static "global_assets/js/feather.min.js" %}"></script>
<!-- Main Js -->
<script src="{% static "global_assets/js/plugins.init.js" %}"></script>
<!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src="{% static "global_assets/js/app.js" %}"></script>
<!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->

</body>
</html>
