{% load static %}
{% load i18n %}
{% if faq|length > 1 %}
    <div class="container mt-60">
        <div class="col-lg-10">
            <div class="section-title" id="tech">
                <h4>{% trans "Frequently Asked Questions" %}</h4>
            </div>
            {% for entry in faq %}
                <div class="accordion mt-4 pt-2" id="buyingquestion">
                    <div class="accordion-item rounded">
                        <h2 class="accordion-header" id="faq-entry-{{ entry.id }}">
                            <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ entry.id }}" aria-expanded="false"
                                    aria-controls="collapse-{{ entry.id }}">
                                {{ entry.question }}
                            </button>
                        </h2>
                        <div id="collapse-{{ entry.id }}" class="accordion-collapse border-0 collapse"
                             aria-labelledby="faq-entry-{{ entry.id }}"
                             data-bs-parent="#buyingquestion">
                            <div class="accordion-body text-muted bg-white">
                                {{ entry.answer }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
