{% load static %}
{% load i18n %}

<div class="container mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">
                    {% if timeline_title %}
                        {{ timeline_title }}
                    {% else %}
                        {% translate "Our Company History" %}
                    {% endif %}
                </h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="main-icon rounded-pill text-primary text-center mt-4 pt-2">
                <i data-feather="star" class="fea icon-md-sm"></i>
            </div>
            <div class="timeline-page pt-2 position-relative">
                {% for timeline_entry in about_us_timeline %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="timeline-item mt-4">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="duration date-label-left border rounded p-2 px-4 position-relative shadow">
                                        {{ timeline_entry.date|date:"F Y" }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card event event-description-right rounded shadow border-0 overflow-hidden float-start">
                                        <img src="{{ timeline_entry.picture.url }}" class="img-fluid rounded-md" alt="">
                                        <div class="card-body">
                                            <h5 class="mb-0 text-capitalize">{{ timeline_entry.name }}</h5>
                                            <p class="mt-3 mb-0 text-muted">{{ timeline_entry.description|safe }}</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end timeline item-->
                    {% else %}
                        <div class="timeline-item mt-4">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                                    <div class="card event event-description-left rounded shadow border-0 overflow-hidden float-start">
                                        <img src="{{ timeline_entry.picture.url }}" class="img-fluid rounded-md" alt="">
                                        <div class="card-body">
                                            <h5 class="mb-0 text-capitalize">{{ timeline_entry.name }}</h5>
                                            <p class="mt-3 mb-0 text-muted">{{ timeline_entry.description|safe }}</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                                    <div class="duration duration-right rounded border p-2 px-4 position-relative shadow text-start">
                                        {{ timeline_entry.date|date:"F Y" }}
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end timeline item-->
                    {% endif %}
                {% endfor %}
            </div><!--end timeline page-->
            <!-- TIMELINE END -->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
