{% load static %}
{% load i18n %}

<div class="container">
    <div class="row shadow-lg p-5 mb-5 bg-light rounded align-items-center">
        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 align-items-center">
            <img src="{% static "company/people/"|add:more_info_contact.image %}"
                 class="img-fluid rounded-md" alt="work-image"><br>
            <p class="text-center mt-2"><b>{{ more_info_contact.name }}</b></p>
        </div>
        <div class="col-lg-9 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="title-heading text-center">
                <h4>{% trans "Do you need more information? Please let us know!" %}</h4>
                <p>{% trans "If you provide us with your contact data, we will call you back soon!" %}</p>
                <form action="{{ request.get_full_path }}" method="post" class="rounded p-4 mt-4 bg-light">
                    {% csrf_token %}
                    <div class="row gx-1">
                        <div class="col-md-12">
                            <div class="row gx-1" id="div_row">
                                <div class="col-md-4 mt-2 mt-sm-0 ">
                                    <div class="form-icon position-relative">
                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                        {{ contact_more_info_form.name }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-4 mt-2 mt-sm-0 ">
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        {{ contact_more_info_form.from_email }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-4 mt-2 mt-sm-0 ">
                                    <div class="form-icon position-relative">
                                        <i data-feather="phone" class="fea icon-sm icons"></i>
                                        {{ contact_more_info_form.phone }}
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row gx-1 mt-3">
                                <div class="col-md-12">
                                    <div class="col-md-12 mt-2 mt-sm-0 ">
                                        <div class="form-icon position-relative">
                                            <i data-feather="edit-3" class="fea icon-sm icons"></i>
                                            {{ contact_more_info_form.message }}
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>
                            <div class="row gx-1 mt-3">
                                <div class="col-md-12">
                                    <div class="col-md-12 mt-2 mt-sm-0 ">
                                        <div class="form-icon position-relative">
                                            {{ contact_more_info_form.captcha }}
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>
                        </div> <!---end col-->
                    </div>
                    <br>
                    <p>{% trans "By submiting the form, you accept our privacy policy." %}</p>
                    <input type="submit" id="check-btn" name="check" class="searchbtn btn btn-primary"
                           value="{% trans "Send" %}">
                </form>
            </div>
        </div>
    </div>
</div>
