{% load static %}
{% load i18n %}
{% load shuffle %}

<div class="content mt-md-5 mt-4">
	<div class="row justify-content-center">
		<div class="col-lg-12 mt-4">
			<div class="tiny-three-item">
				{% for testimonial_entry in company_testimonials|shuffle %}
				<div class="tiny-slide">
					<div class="d-flex client-testi m-2">
						<img src="{{ testimonial_entry.portrait.url }}" class="avatar avatar-small client-image rounded shadow" alt="">
						<div class="flex-1 content p-3 shadow rounded bg-white position-relative">
							<ul class="list-unstyled mb-0">
								<li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
								<li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
								<li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
								<li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
								<li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
							</ul>
							<p class="text-muted mt-2">"{{ testimonial_entry.content }}"</p>
							<h6 class="text-primary">
								- {{ testimonial_entry.full_name }}<br>
								<small class="text-muted">{{ testimonial_entry.title }}</small>
							</h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div><!--end col-->
	</div>
</div>
