<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4">{{ product_dl_head }}</h4>
                <p class="text-muted para-desc mb-0 mx-auto">{{ product_dl_desc }}</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row align-items-center">
        <div class="col-md-5 mt-4 pt-2">
            <ul class="nav nav-pills bg-white nav-justified flex-column mb-0" id="pills-tab" role="tablist">
                <li class="nav-item bg-light rounded-md">
                    <a class="nav-link rounded-md active" id="aria_0" data-bs-toggle="pill" href="#aria_0"
                       role="tab" aria-controls="aria_0" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">{{ product_dl_item_0_head }}</h5>
                            <p class="text-muted tab-para mb-0">{{ product_dl_item_0_desc }}</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->

                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="aria_1" data-bs-toggle="pill" href="#aria_1" role="tab"
                       aria-controls="aria_1" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">{{ product_dl_item_1_head }}</h5>
                            <p class="text-muted tab-para mb-0">{{ product_dl_item_1_desc }}</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->

                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="aria_2" data-bs-toggle="pill"
                       href="#aria_2" role="tab" aria-controls="aria_2" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">{{ product_dl_item_2_head }}</h5>
                            <p class="text-muted tab-para mb-0">{{ product_dl_item_2_desc }}</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->

                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="aria_3" data-bs-toggle="pill" href="#aria_3"
                       role="tab" aria-controls="aria_3" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">{{ product_dl_item_3_head }}</h5>
                            <p class="text-muted tab-para mb-0">{{ product_dl_item_3_desc }}</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
            </ul><!--end nav pills-->
        </div><!--end col-->

        <div class="col-md-7 col-12 mt-4 pt-2">
            <div class="tab-content ms-lg-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="dash-board" role="tabpanel" aria-labelledby="aria_0">
                    <img src="{{ product_image_0 }}" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
                <div class="tab-pane fade" id="time-line" role="tabpanel" aria-labelledby="aria_1">
                    <img src="{{ product_image_1 }}" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
                <div class="tab-pane fade" id="payment-management" role="tabpanel" aria-labelledby="aria_2">
                    <img src="{{ product_image_2 }}" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
                <div class="tab-pane fade" id="file-integrate" role="tabpanel" aria-labelledby="aria_3">
                    <img src="{{ product_image_3 }}" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
            </div><!--end tab content-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->