{% load static %}
{% load i18n %}

<div class="container mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">
                    {% if product_comparison_title %}
                        {{ product_comparison_title }}
                    {% else %}
                        {% translate "Product Comparison" %}
                    {% endif %}
                </h4>
                <p class="text-muted para-desc mb-0 mx-auto">
                    {% if product_comparison_subtitle %}
                        {{ product_comparison_subtitle }}
                    {% else %}
                        {% translate "The following products match your search." %}
                    {% endif %}
                </p>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        {% for product in product_list %}
            <div class="col-lg-{{ product_list_split_factor }} col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                    {% if forloop.first %}
                        <div class="ribbon ribbon-right ribbon-warning overflow-hidden">
                            <span class="text-center d-block shadow small h6">{% translate "Best" %}</span>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h6 class="title fw-bold text-uppercase text-primary mb-4">{{ product.name }}</h6>
                        <div class="d-flex mb-4">
                            <span class="h4 mb-0 mt-2">{{ product.price }}</span>
                        </div>

                        <ul class="list-unstyled mb-0 ps-0">
                            {{ product.text|safe }}
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        {% endfor %}
    </div><!--end row-->
</div><!--end container-->
