{% load static %}
{% load i18n %}

<div class="container mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title">{% translate "References in the Press" %}</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{% translate "Publication Date" %}</th>
                        <th scope="col">{% translate "Title" %}</th>
                        <th scope="col">{% translate "Source" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reference in reference_list %}
                        <tr>
                            <td>{{ reference.date }}</td>
                            <td>{{ reference.name }}</td>
                            <td>
                                <a href="{{ reference.url }}" target="_blank" class="btn btn-primary btn-sm">
                                    {% translate "Read" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
