{% load static %}
{% load i18n %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">
                    {% if product_overview_title %}
                        {{ product_overview_title }}
                    {% else %}
                        {% translate "Product Overview" %}
                    {% endif %}
                </h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        {% for product in product_list %}
            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <a href="">
                    <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                        <span class="h1 icon2 text-primary">
                            <i class="uil {{ product.icon }}"></i>
                        </span>
                        <div class="card-body p-0 content">
                            <h5>{{ product.name }}</h5>
                            <p class="para text-muted mb-0">{{ product.subtitle|safe }}</p>
                        </div>
                        <span class="big-icon text-center">
                            <i class="uil {{ product.icon }}"></i>
                        </span>
                    </div>
                </a>
            </div><!--end col-->
        {% endfor %}
    </div><!--end row-->
</div><!--end container-->
